# BASICS OF DATA WRANGLING FEATURES

In [5]:
#Creating a Dataframe
import pandas as pd
data={'Name':['alice','bob','charlie'],'Age':[24,27,22],'City':['Newyork','los angles','chicago']}
df=pd.DataFrame(data)
print(df)

      Name  Age        City
0    alice   24     Newyork
1      bob   27  los angles
2  charlie   22     chicago

In [8]:
#Reading a CSV file
df=pd.read_csv('sample.csv')
print(df)

  Unnamed: 0    Unnamed: 1   Unnamed: 2   Unnamed: 3
0   Subject    stu1(Marks)  stu2(Marks)  stu3(Marks)
1        Tam            99           88           91
2        Eng           100           78           93
3        Soc            93           75           92
4        Sci            94           92           99
5        Mat            92           71           86

In [9]:
#Data Cleaning
df=pd.DataFrame({'A':[1,2,None,4],'B':[None,2,3,4]})
df_clean=df.dropna()
print(df_clean)

     A    B
1  2.0  2.0
3  4.0  4.0

In [10]:
#Filtering Data
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
filtered_df=df[df['A']>2]
print(filtered_df)

   A  B
2  3  7
3  4  8

In [13]:
#Grouping Data
df=pd.DataFrame({'A':['foo','bar','foo','bar'],'B':[1,2,3,4]})
grouped=df.groupby('A').sum()
print(grouped)

     B
A
bar  6
foo  4

In [17]:
#Merging DataFrames
import pandas as pd
df1=pd.DataFrame({'A':['foo','bar'],'B':[1,2]})
df2=pd.DataFrame({'A':['foo','bar'],'B':[3,4]})
merge_df= pd.merge(df1,df2,on='A')
print(merge_df)

     A  B_x  B_y
0  foo    1    3
1  bar    2    4